.body {
    background-color: #000;
    width:100%;
    
}
    

.titleText {
    text-align: center;
    position: absolute;
    margin: 20% 20% 20% 20% ;
    background-color: rgb(5, 95, 28);
    padding: 1rem;
    outline: 1px solid rgb(233, 228, 185);
    
    
}

.yLogo {
   
    margin: 0.5rem auto 0.5rem 1rem;
    color: rgb(233, 228, 185);
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 50%;
    background-color: rgb(5, 95, 28);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'DM Serif Display',
    serif;
}

.welcomeHeading {
    color: rgb(233, 228, 185);
    font-size: 10rem;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    
}



.welcomeSubHeading {
    margin: -1rem auto 1.5rem 2rem;
    color: rgb(233, 228, 185);
    font-family: 'Red Hat Mono', monospace;
    font-size: 1.5rem;
    letter-spacing: 1.8rem;
    width:1080px;
    
}
